/* Styles globaux du composant racine, par exemple : */
.navbar {
  display: flex;
  gap: 1rem;
  background-color: #1976d2;
  padding: 1rem;
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .active {
    text-decoration: underline;
  }

  .logout-btn {
    margin-left: auto;
    background: red;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
  }
}

.content {
  padding: 2rem;
}

  